#root 
  width: 1920px
  height: 100%


  //background-image: url("./public/animals.jpg")
  //
  //background-size: cover
  //background-position: center
  //background-repeat: no-repeat
  //background-attachment: fixed

.wrapper 
  margin: 0 auto
  text-align: center

.container
  box-sizing: border-box
  max-width: 1280px
  margin: 0 auto
  text-align: center

.logo 
  height: 6em
  padding: 1.5em
  will-change: filter
  transition: filter 300ms


@keyframes logo-spin 
  from 
    transform: rotate(0deg)
  
  to 
    transform: rotate(360deg)
  


@media (prefers-reduced-motion: no-preference) 
  a:nth-of-type(2) .logo 
    animation: logo-spin infinite 20s linear
  
//Home 

.home-image 
  margin: 16px 0
  width: 1280px
  height: 600px
  object-fit: cover
  margin-bottom: -150px
  border-radius: 20px


//TakeAnimalNav

.takeAnimalNav 
  display: flex
  justify-content: center
  margin: 20px 0


nav 
  display: flex
  gap: 20px


.animalButton 
  display: flex
  flex-direction: column
  align-items: center
  padding: 16px
  background-color: #ffffff
  border: 1px solid var(--color-input-dark)
  border-radius: 16px
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1)
  transition: transform 0.3s ease
  text-decoration: none
  color: inherit


.animalButton:hover 
  transform: scale(1.05)


.animalButton img 
  width: 96px
  height: 96px
  object-fit: cover
  margin-bottom: 8px


.animalButton p 
  font-size: 18px
  font-weight: 600
  color: #4a4a4a



//Questions

.section__inner 
  padding-top: 30px
  padding-bottom: 30px
  color: #FFFFFF
  background-color: #222222
  border-radius:40px


.content-wrapper 
  padding: 0 15px


.FAQ-section 
  margin-bottom: 30px


.section-title 
  font-size: 24px
  font-weight: bold
  margin-bottom: 15px


.FAQ-section-question-wrapper 
  padding: 10px 0


.question-block 
  margin-bottom: 15px


.question 
  font-size: 18px


.question:hover 
  background-color: #e0e0e010


.answer 
  font-size: 16px
  padding: 10px
  border-left: 5px solid var(--color-main)
  margin-top: 10px


.answer p 
  margin: 0


//Footer
footer 
  background-color: #222222
  color: #fff
  padding: 20px 0


.footer-container 
  display: flex
  justify-content: space-between
  align-items: center
  max-width: 1200px
  margin: auto auto 0 auto


.map 
  width: 60%


.contacts 
  width: 35%


.contacts h2 
  font-size: 24px
  margin-bottom: 10px


.contacts p 
  font-size: 16px
  margin: 5px 0


//About

.about-page 
  color: #000

//Paginator

/* Контейнер пагинации */
.paginator 
  display: flex
  justify-content: center
  align-items: center
  gap: 10px
  margin: 20px 0 


/* Общий стиль кнопок */
.paginator-button 
  padding: 8px 12px
  border: 1px solid #d1d5db 
  border-radius: 4px
  background-color: #ffffff 
  color: #374151 
  font-size: 14px
  cursor: pointer
  transition: background-color 0.3s, color 0.3s


/* Hover для активных кнопок */
.paginator-button:not(.disabled):hover 
  background-color: #f3f4f6 


/* Активная страница */
.paginator-button.active 
  background-color: var(--color-main)
  color: #ffffff 
  border-color: var(--color-main-shadow)


/* Неактивные кнопки (disabled) */
.paginator-button.disabled 
  background-color: #e5e7eb 
  color: #6b7280 
  cursor: not-allowed

