.telegram-section {
  height: 300px;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  padding: 0 50px;
  border-bottom: 5px solid #0088cc;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 80px;
  /* Добавляем фоновое изображение */
  background-image: url("/memCat.jpg"); /* Укажите путь к вашему изображению */
  background-position: right center; /* Изображение справа, центрировано по вертикали */
  background-repeat: no-repeat; /* Не повторять изображение */
  background-size: 600px auto; /* Установите размер изображения (настройте под ваши нужды) */
  border-radius: 20px;
}

.telegram-text {
  font-size: 36px;
  font-weight: bold;
  color: #333;
  margin: 0;
  position: relative; /* Чтобы текст оставался поверх фона */
  z-index: 1; /* Устанавливаем слой выше фона */
}

.telegram-logo {
  width: 100px;
  height: auto;
  margin-right: 60px;
  position: relative; /* Чтобы логотип оставался поверх фона */
  z-index: 1; /* Устанавливаем слой выше фона */
  cursor: pointer;
}

.telegram-section-text {
  color: #333;
  text-align: left;
}
