.donation-page-container {
  max-width: 600px;
  margin: 160px auto;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  color: #242424;
}

.donation-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.form-group {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.form-group label {
  font-weight: bold;
}

.form-input {
  padding: 10px;
  border: 1px solid #d1d5db;
  border-radius: 5px;
  font-size: 14px;
}

.card-element {
  padding: 10px;
  border: 1px solid #d1d5db;
  border-radius: 5px;
  background: #fff;
}

.submit-button {
  background-color: #242424;
  color: white;
  font-weight: bold;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  border: none;
}

.submit-button:hover {
  background-color: #919191;
}

.error-message {
  color: red;
  text-align: center;
}

.success-message {
  color: green;
  text-align: center;
}
