.profile-page {
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
}

.profile-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.form-group {
  display: flex;
  flex-direction: column;
  gap: 5px;
  position: relative; /* Для позиционирования кнопки редактирования */
}

.form-group label {
  font-weight: bold;
  color: #333;
}

.form-group input {
  padding: 10px;
  border: 1px solid #d1d5db;
  border-radius: 5px;
  font-size: 14px;
}

.form-group input:disabled {
  background-color: #f5f5f5;
  color: #666;
}

.edit-button {
  position: absolute;
  right: 03px;
  top: 70%;
  transform: translateY(-50%);
  background: none;
  border: none;
  font-size: 16px;
  color: #3498db;
  cursor: pointer;
}

.edit-button:disabled {
  color: #ccc;
  cursor: not-allowed;
}

.save-button {
  background-color: #242424;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.save-button:hover {
  background-color: #919191;
}

.logout-button {
  background-color: #e3342f;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.logout-button:hover {
  background-color: #b91c1c;
}

.error {
  color: #e3342f;
  text-align: center;
}

.success {
  color: #2ecc71;
  text-align: center;
}
